<!doctype html>

{% extends 'base.html' %}

{% block content %} 

<html>
  <head>
    <title>Editar Usuario</title>
  </head>
  <body>
    <h1>Editar Usuario</h1>
    <a href="{% url 'usuarios' %}" class="back">Volver</a>
    <form method="POST">
      {% csrf_token %}

      {{ form.errors }}
      <div>
        <label>Nombre:</label>
        {{ form.nombre }}
      </div>

      <div>
        <label>Contra:</label>
        {{ form.contra }}
      </div>

      <div>
        <label>Telefono:</label>
        {{ form.telefono }}
      </div>

      <div>
        <label>Activo:</label>
        {{ form.activo }}
      </div>

      <div>
        <label>Fecha de inicio:</label>
        {{ form.fecha_inicio }}
      </div>

      <div>
        <label>Cargo:</label>
        {{ form.cargo }}
      </div>

      <button type="submit">Guardar</button>
    </form>
    <br />
  </body>
{% endblock %}
</html>
